// Optional interpreter selection only. Select the atlas-enabled container
// explicitly with the normal Docker/Singularity image parameters as well.
params.cell_atlas_python = '/usr/local/bin/cellphenotyper-atlas-python'
params.spatialdata_python = '/usr/local/bin/cellphenotyper-atlas-python'
params.tissue_hierarchy_python = '/usr/local/bin/cellphenotyper-hierarchy-python'
